doctype html
html
  head
    title= title
    link(rel='stylesheet',href="https://fonts.googleapis.com/css?family=Google+Sans:100,300,400,500,700,900,100i,300i,400i,500i,700i,900i")
    link(rel='stylesheet', href='/css/style.css')
  body
    block content