extends layout

block content
  - var states = ['  ','AL','AK','AS','AZ','AR','CA','CO','CT','DE','DC','FM','FL','GA','GU','HI','ID','IL','IN','IA','KS','KY','LA','ME','MH','MD','MA','MI','MN','MS','MO','MT','NE','NV','NH','NJ','NM','NY','NC','ND','MP','OH','OK','OR','PW','PA','PR','RI','SC','SD','TN','TX','UT','VT','VI','VA','WA','WV','WI','WY']
  h1= title
  p Welcome to #{title}
  div
    | Calculate shipping to: 
    form()
      select(onChange="getShippingPrice(this.value)")
        each state in states
          option(value=state) #{state}
    |: $<span id='shipPrice'></span>

  script.
    async function getShippingPrice(state) {
      const response = await fetch('http://localhost:3001/shippingcost/?state=' + state)
      const priceJson = await response.json()
      document.getElementById('shipPrice').textContent = priceJson.shippingPrice
    }